@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-scoot: 36, 87%, 49%;
    --color-blogr: 12, 79%, 52%;
    --color-vector: 235, 10%, 23%;
    --color-office: 227, 62%, 48%;
    --color-pod: 216, 46%, 14%;
    --color-creative: 295, 55%, 21%;
    --color-office: 227, 62%, 48%;
    --color-pomodoro: 254, 71%, 45%;
    --color-maker: 218, 58%, 31%;
    --color-coffee: 29, 60%, 87%;
    --color-mastercraft: 0, 0%, 12%;
    --color-crowdfund: 157, 57%, 50%;
    --color-typemaster: 22, 89%, 52%;
  }
}

@layer components {
  h1 {
    @apply text-h1 font-bold;
  }

  h2 {
    @apply text-h2 font-bold text-dark-blue dark:text-white;
  }
  h3 {
    @apply text-h3 font-bold text-dark-blue dark:text-white;
  }
  h4 {
    @apply text-h4 font-bold text-dark-blue dark:text-white;
  }

  p, li {
    @apply text-body text-dark-grey font-normal;
  }
}
